<!DOCTYPE html>
<html>
<body>
  <div style="background-color: white; border-left: 5px solid gray; padding: 5px; margin-bottom: 3px">
    <h3><%= @question %></h2>
    <h4>- You</h3>
  </div>
  <div style="background-color: lightblue; border-left: 5px solid gray; padding: 5px; ">
    <h3><%= @answer %></h2>
    <h4>-Your Coach</h3>
  </div>

</body>
</html>
